
<div class="container">
  <div class="arriere-plan"> <div class="site-titre">Sites</div>
  <div class="add-sites"><a href="#"> Add site +</a></div>
    <table class="premier-rectangle">
      <tr>
       <th>NOM DE SITE : </th>
      <td class="eysi1">eysi.net</td>
      </tr>
      <tr>
        <th >Link Checked</th>
        <th >Available</th>
        <th >Unavailable</th>
        <th >Error 404</th>
        <th>Affiliate id</th>
      </tr>
      <tr>
        <td class="nbr1">112</td>
        <td class="nbr2">86</td>
        <td class="nbr3">12</td>
        <td class="nbr4">14</td>
        <td class="nbr5">2</td>
      </tr>
    </table>
  </div>
</div>
