<style>
  .wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .upgrade-rectangle {
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .button-wrapper {
    flex-basis: 15%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  @media screen and (max-width: 576px) {
    .button-wrapper {
      display: flex;
      flex-direction: column;
      row-gap: 2rem;
    }

    .upgrade-rectangle {
      display: none;
      flex-basis: 100%;
    }
    .download-button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      align-content: center;
      font-size: smaller;
    }
    .recheck-button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      align-content: center;
      font-size: smaller;
    }
    li {
      text-decoration: none;
      list-style-type: none;
    }

    a {
      text-decoration: none;
    }

    .repot-compelet {
      font-size: smaller;
    }
  }

  .recheck-button {
    flex-basis: 25%;
    background-color: #31ba86;
    color: white;
    border: none;
    border-radius: 0.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .download-button {
    flex-basis: 25%;
    background-color: white;
    color: #31ba86;
    border: none;
    border-radius: 0.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .table tbody td img {
    max-width: 100px;
    max-height: 100px;
  }

  .links-table-container .table td img {
    max-width: 100px;
    max-height: 100px;
  }
</style>

<div class="page">
  <div class="contenu">
    <h2 class="summuray-titre">Summary</h2>
    <div class="repot-compelet-box">
      <div class="wrapper">
        <div class="repot-compelet box">
          <div class="repot-compelet-text">
            <i class="fa fa-warning"></i> You must repaire alot of links
          </div>
          <div class="report-text">
            Please subscribe to Slinker to get access to full features and find
            broken links on your site
          </div>
          <i class="fa fa-ellipsis-h"></i>
        </div>

        <div class="button-wrapper">
          <div>
            <a href="#">
              <button class="recheck-button">
                <img width="15" src="/assets/recheck.svg" alt="" srcset="" />
                <p style="margin-top: 1rem !important">Recheck</p>
              </button>
            </a>
          </div>

          <div>
            <a routerLink="/facture">
              <button class="download-button">
                <img width="15" src="/assets/download.svg" alt="" srcset="" />
                <p style="margin-top: 1rem !important">Download</p>
              </button>
            </a>
          </div>
        </div>

        <div class="upgrade-rectangle box">
          <div class="upgrade-paragraphe">
            Improve Managment by upgrading your account
          </div>
          <button routerLink="../pricing" class="upgrade-button">
            Upgrade
          </button>
        </div>
      </div>
    </div>

    <div class="amazon-products-titre">Amazon products</div>

    <div class="space-between">
      <span class="purple">statues:</span>
      <span class="active">All</span>
      <span>Available</span>
      <span>Unavailable</span>
      <span>404</span>
      <div class="input">
        <span class="purple">Affiliate Id</span>
        <select class="boxSizing">
          <option>All</option>
          <option>Available</option>
          <option>Unavailable</option>
          <option>404</option>
        </select>
      </div>
    </div>

    <div class="table-container-h">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Image</th>
            <th>Procduct name</th>
            <th>Product staut</th>
            <th>Reviews</th>
            <th>Affiliate Id</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let result of products">
            <td>
              <img
                [src]="result.image"
                class="image1"
                *ngIf="
                  result.image.endsWith('.jpg') ||
                  result.image.endsWith('.png') ||
                  result.image.endsWith('.jepg')
                "
              />
              <img
                src="assets/Image_not_available.png"
                class="image1"
                *ngIf="
                  !result.image.endsWith('.jpg') &&
                  !result.image.endsWith('.png') &&
                  !result.image.endsWith('.jepg')
                "
              />
            </td>
            <td>
              {{
                result.description.length < 40
                  ? result.description
                  : result.description.slice(0, 40) + "..."
              }}
            </td>
            <td
              class="green"
              *ngIf="result.stock.toLowerCase().includes('in stock')"
            >
              <span>AVAILABLE</span>
            </td>
            <td
              class="red"
              *ngIf="
                result.stock.toLowerCase().includes('unavailable') ||
                result.stock === ''
              "
            >
              <span>UNAVAILABLE</span>
            </td>

            <!-- <td class="gray" *ngIf="result.stock === ''">
              <span>Page 404</span>
            </td> -->
            <td>{{ result.review.slice(0, 3) }} out 5 stars</td>
            <td class="blue">
              <div class="affiliate-text1"><span>ge2kliam22</span></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="statistics">
      <div>
        <h4 class="title">site metrices</h4>
        <div>
          <div class="box">
            <img src="assets/contacti.png" alt="" />
            <span class="number">1</span>
            <span class="text">ID Checked</span>
          </div>
          <div class="box">
            <img src="assets/page-processed.jpg" alt="" />
            <span class="number">250</span>
            <span class="text">Pages Processed</span>
          </div>
        </div>
      </div>
      <div>
        <h4 class="title">crawl details</h4>
        <div>
          <div class="box">
            <img src="assets/page-Checked.png" alt="" />
            <span class="number">03/20</span>
            <span class="text">Crawling Date Started</span>
          </div>
          <div class="box">
            <img src="assets/reload12.png" alt="" />
            <span class="number">3 min</span>
            <span class="text">Time Elapsed</span>
          </div>
        </div>
      </div>
    </div>

    <h2 class="summuray-titre">Amazon Similar Products</h2>
    <div class="links-table-container">
      <table class="table">
        <tr *ngFor="let result of similar">
          <td>
            <img
              [src]="result.image"
              class="image1"
              *ngIf="
                result.image.endsWith('.jpg') ||
                result.image.endsWith('.png') ||
                result.image.endsWith('.jepg')
              "
            />
            <img
              src="assets/Image_not_available.png"
              class="image1"
              *ngIf="
                !result.image.endsWith('.jpg') &&
                !result.image.endsWith('.png') &&
                !result.image.endsWith('.jepg')
              "
            />
          </td>
          <td>
            {{
              result.description.length < 40
                ? result.description
                : result.description.slice(0, 40) + "..."
            }}
          </td>
          <td
            class="green"
            *ngIf="result.stock.toLowerCase().includes('in stock')"
          >
            <span>AVAILABLE</span>
          </td>
          <td
            class="red"
            *ngIf="
              result.stock.toLowerCase().includes('unavailable') ||
              result.stock === ''
            "
          >
            <span>UNAVAILABLE</span>
          </td>

          <!-- <td class="gray" *ngIf="result.stock === ''">
            <span>Page 404</span>
          </td> -->
          <td>{{ result.review.slice(0, 3) }} out 5 stars</td>
          <td class="blue">
            <div class="affiliate-text1"><span>ge2kliam22</span></div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<app-footer-nav></app-footer-nav>
