<!-- ==============================================
	    Credit Card Payment Section
	    =============================================== -->
<section class="credit-card">
  <div class="container">

    <div class="card-holder">
      <div class="card-box bg-news">
        <div class="row">
          <div class="col-lg-6">
            <div class="img-box">
              <img src="assets/slinker_titre.png" />
            </div>
          </div>
          <div class="col-lg-6">

            <form>
              <div class="card-details">
                <h3 class="title">Enrer votre nouveau website</h3>
                <div class="row">
                  <div class="form-group col-sm-7">
                    <div class="inner-addon right-addon">
                      <label for="nom">nom</label>
                      <i class="far fa-user"></i>
                      <input id="nom" type="text" class="form-control" placeholder="nom" aria-label="Card Holder" aria-describedby="basic-addon1">
                    </div>
                  </div>
                  <div class="form-group col-sm-5">
                    <label for="site">url</label>
                    <div class="input-group expiration-date">
                      <input id="site" type="text" class="form-control" placeholder="url" aria-label="Card Holder" aria-describedby="basic-addon1">
                    </div>
                  </div>
                  <div class="form-group col-sm-8">
                    <div class="inner-addon right-addon">
                      <label for="description">description</label>
                      <i class="far fa-credit-card"></i>
                      <input id="description" type="text" class="form-control" placeholder="description" aria-label="Card Holder" aria-describedby="basic-addon1">
                    </div>
                  </div>
                  <div class="form-group col-sm-4">
                    <label for="cvc">email</label>
                    <input id="cvc" type="text" class="form-control" placeholder="email" aria-label="Card Holder" aria-describedby="basic-addon1">
                  </div>
                  <div class="form-group col-sm-12">
                    <button type="button" class="btn btn-primary btn-block">save</button>
                  </div>
                </div>
              </div>
            </form>

          </div><!--/col-lg-6 -->

        </div><!--/row -->
      </div><!--/card-box -->
    </div><!--/card-holder -->

  </div><!--/container -->
</section>
