<div class="page">
  <form #myform="ngForm">
    <div class="form-row">
      <div class="input-data">
        <input ngModel name="url" type="text" required />
        <div class="underline"></div>
        <label>{{ "url" | uppercase }}</label>
      </div>
    </div>
    <div class="form-row">
      <div class="input-data">
        <input ngModel name="libelle" type="textarea" required />
        <div class="underline"></div>

        <label>{{ "Libelle" | uppercase }}</label>
      </div>
    </div>
  </form>
</div>