<div class="container-fluid p-5 vh-100">
  <div class="row d-flex justify-content-center">
    <img class="col-lg-2 col-sm-4" src="../../../assets/loadPage/Group_1.svg" alt="" />
  </div>
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-md-9 col-sm-6">
      <div class="progress blue">
        <span class="progress-left">
          <span class="progress-bar"></span>
        </span>
        <span class="progress-right">
          <span class="progress-bar"></span>
        </span>
        <div class="progress-value">100%</div>
      </div>
    </div>
  </div>
</div>
