<aside [class]="{'active': showSidebar}">

  <i class="fa fa-x hide-sidebar" (click)="hideSideBar()"></i>

  <div class="logo"><img src="assets/slinker_titre.png" alt=""></div>
  <hr>

  <nav>
    <ul>
      <li>
        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/dashboard">
          <i class="fa fa-chart-bar"></i> <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a routerLinkActive="active"  routerLink="/dashboard/summary">
          <i class="fa fa-user-circle"></i> <span>Profile</span>
        </a>
      </li>
    </ul>

    <hr>

    <ul>
      <li>
        <a routerLinkActive="active" routerLink="/link-web">
          <i class="fa fa-flask-vial"></i> <span>link-web</span>
        </a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="/dashboard/sites">
          <i class="fa fa-users"></i> <span>site</span>
        </a>
      </li>
      <li>
        <a routerLinkActive="active" [routerLink]="baseUrl + '/clients'">
          <i class="fa fa-user-shield"></i> <span>Clients</span>
        </a>
      </li>
      <li>
        <a routerLinkActive="active" [routerLink]="baseUrl + '/files'">
          <i class="fa fa-file-lines"></i> <span>files</span>
        </a>
      </li>
      <li>
        <a routerLinkActive="active" [routerLink]="baseUrl + '/history'">
          <i class="fa fa-bell notification new"></i> <span>History</span>
        </a>
      </li>
    </ul>

    <hr>

    <ul>
      <li>
        <a routerLinkActive="active" [routerLink]="baseUrl + '/setting'">
          <i class="fa fa-gear"></i> <span>Setting</span>
        </a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="/login">
          <i class="fa fa-sign-in"></i> <span>Sign In</span>
        </a>
      </li>
      <li>
        <a>
          <i class="fa fa-sign-out"></i> <span>Sign out</span>
        </a>
      </li>
    </ul>

  </nav>

</aside>

<div class="overlay-bg" (click)="hideSideBar()"></div>

<div class="show-sidebar" (click)="showSideBar()">
  <i class="fa fa-angle-right"></i>
</div>
