
  <!-- To copy in every page -->
  <style>
  @media screen and (max-width: 576px) {
    #sidebar{
      display: none;
    }
  }
  </style>


<div class="container-fluid">
  <div class="row d-flex d-md-block flex-nowrap wrapper ">
    <div id="sidebar">
      <div class="list-group border-0 card text-center text-md-left">
       <!-- <div class="scroll-pane">-->
        <a routerLink="#"
           class="list-group-item d-inline-block collapsed"
           data-parent="#sidebar">
          <img
            src="assets/playground_assets2/logowhite1920x813632-afko-200h.png"
            class="slinker-icon">
          <span class="d-none d-md-inline sidbar-titre">Slinker</span>
        </a>
        <a routerLink="/sites"
           class="list-group-item d-inline-block collapsed"
           data-parent="#sidebar">
          <img src="/assets/playground_assets/vector3633-d2ol.svg">
          <span class="d-none d-md-inline">Sites</span>
        </a>
        <a routerLink="#"
           class="list-group-item d-inline-block collapsed"
           data-parent="#sidebar">
          <img src="/assets/playground_assets/favicon32x3213634-sugd-200w.png">
          <span class="d-none d-md-inline">eysi.net</span>
        </a>
        <a routerLink="#"
           class="list-group-item d-inline-block collapsed"
           data-parent="#sidebar">
          <img src="/assets/playground_assets/vector3633-3gk.svg">
          <span class="d-none d-md-inline">Dashboard</span>
        </a>
        <a routerLink="#"
           class="list-group-item d-inline-block collapsed"
           data-parent="#sidebar">
          <img src="/assets/playground_assets/vector3634-n2k.svg">
          <span class="d-none d-md-inline">Affiliate audit</span>
        </a>
        <a routerLink="#"
           class="list-group-item d-inline-block collapsed"
           data-parent="#sidebar">
          <i class="fa fa-gear"></i>
          <span class="d-none d-md-inline">Sites Monitoring</span>
        </a>
        <a routerLink="#"
           class="list-group-item d-inline-block collapsed"
           data-parent="#sidebar">
          <i class="fa fa-calendar"></i>
          <span class="d-none d-md-inline">Afiiliate Rank tracker</span>
        </a>
        <a routerLink="/custom"
           class="list-group-item d-inline-block collapsed"
           data-parent="#sidebar">
          <i class="fa fa-envelope"></i>
          <span class="d-none d-md-inline">Custom link checker</span>
        </a>
        <a routerLink="#"
           class="list-group-item d-inline-block collapsed"
           data-parent="#sidebar">
          <i class="fa fa-bar-chart-o"></i>
          <span class="d-none d-md-inline">Watch Our guides</span>
        </a>
        <a routerLink="#"
           class="list-group-item d-inline-block collapsed"
           data-parent="#sidebar">
          <i class="fa fa-star"></i>
          <span class="d-none d-md-inline">Pricing</span>
        </a>
      </div>
      </div>
    </div>
  </div>

