<aside>
  <div class="logo">
    <img src="../../../assets/link-web/Group_28.svg" alt="" />
  </div>

  <nav>
    <ul>
      <li>
        <a routerLinkActive="active" routerLink="/dashboard/sites">
          <img src="../../../assets/icons_sidebar/Vector-2.svg" alt="" />
          <span>Sites</span>
        </a>
      </li>
    </ul>

    <hr />

    <ul>
      <li>
        <a
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLink="/dashboard"
        >
          <img src="../../../assets/icons_sidebar/Vector.svg" alt="" />
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a routerLinkActive="active" (click)="toggleAffiliateAudit()">
          <img src="../../../assets/icons_sidebar/Vector-9.svg" alt="" />
          <span>Affiliate audit</span>
        </a>

        <ul *ngIf="openAffiliateAudit">
          <li>
            <a routerLinkActive="active" routerLink="/dashboard/summary">
              <span>Summary</span>
            </a>
          </li>

          <li>
            <a routerLinkActive="active" routerLink="/dashboard/issues">
              <span>Issues</span>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="/dashboard/home">
          <img src="../../../assets/icons_sidebar/Vector-3.svg" alt="" />
          <span>Sites Monitoring</span>
        </a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="/dashboard/sites">
          <img src="../../../assets/icons_sidebar/Vector-4.svg" alt="" />
          <span>Afiiliate Rank tracker</span>
        </a>
      </li>
      <li>
        <!--<a routerLinkActive="active" [routerLink]="baseUrl + '/clients'">-->
        <a routerLinkActive="active" routerLink="/dashboard/custom">
          <img src="../../../assets/icons_sidebar/Vector-5.svg" alt="" /><span>Custom link checker</span
          >
        </a>
      </li>
    </ul>

    <hr />

    <ul>
      <li>
        <a routerLinkActive="active" routerLink="/dashboard/guides">
          <img src="../../../assets/icons_sidebar/Vector-7.svg" alt="" />
          <span>Watch Our guides</span>
        </a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="/dashboard/pricing">
          <img src="../../../assets/icons_sidebar/Vector-6.svg" alt="" />
          <span>Pricing</span>
        </a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="/contact-us">
          <img src="../../../assets/icons_sidebar/Vector-8.svg" alt="" />
          <span>Get Help</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>
