$bg-black: rgba(80, 62, 157, 1);

/* Hide the scroll bar */
::-webkit-scrollbar {
  width: 0.5em;
  background-color: transparent;
}

/* For webkit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar-thumb {
  background-color: transparent;
}

aside {
  /* For Firefox */
  scrollbar-width: thin;
  scrollbar-color: transparent;

  width: 250px;
  height: 100vh;

  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;

  padding-bottom: 10px;
  background: $bg-black;
  color: #fff;

  overflow-x: hidden;
  overflow-y: visible;
  transition: 0.3s;

  * {
    white-space: nowrap;
  }

  .logo {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    margin-block: 20px 60px;
    img {
      width: 50%;
    }
  }

  nav {
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;

      list-style: none;
      padding: 0;

      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 100%;

        a {
          display: block;
          padding: 10px;
          width: 100%;
          color: rgb(255, 255, 255);
          text-decoration: none;
          cursor: pointer;

          img {
            width: 15px;
            margin-left: 25px;
          }

          span {
            font-size: 1rem;
            margin-left: 25px;
          }

          &:hover {
            background-color: rgba(#fff, 0.2);
          }

          &.active {
            background: rgba(87, 105, 177, 0.5);
            backdrop-filter: blur(35px);
          }
        }
        ul {
          width: 100%;
          gap: 0;
          li {
            a {
              display: block;
              width: 100%;
              padding-left: 45px;
            }
          }
        }
      }
    }
  }

  @media screen and (width < 700px) {
    width: 0;
    opacity: 0;

    &.active {
      width: 250px;
      opacity: 1;

      ~ .show-sidebar {
        display: none;
      }

      ~ .overlay-bg {
        display: block;
        opacity: 1;
      }
    }
  }
}

.show-sidebar {
  position: fixed;
  left: 0;
  top: 50%;
  translate: -50%;
  padding: 2px 5px 2px 20px;
  border-radius: 0 40px 40px 0;
  background-image: $bg-black;
  color: #fff;
  opacity: 0.5;
  transition: 0.3s linear;
  cursor: pointer;

  &:hover {
    opacity: 1;
    padding-left: 30px;
  }

  @media screen and (width >= 700px) {
    display: none;
  }
}

.hide-sidebar {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 100;
  cursor: pointer;

  @media screen and (width >= 700px) {
    display: none;
  }
}

hr {
  border-width: 0 0 medium;
  border-style: solid solid none;
  border-color: rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.08) currentcolor;
  height: 0.0625rem;
  margin: 1rem 0;
  opacity: 0.25;
  background-color: transparent;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0)
  ) !important;
}
