<div class="container-fluid"><div class="search-zone">
  <input placeholder="          search" class="search-bar">
  <i class="fa fa-search search-icon" aria-hidden="true"></i>
  <i class="fa fa-user-circle search-icon2" aria-hidden="true">  3</i>
</div>
<div class="side-bar">
<ul class="slinkerTiter">
  <span><img src="assets/playground_assets2/logowhite1920x813632-afko-200h.png" class="slinker-icon"></span>
  <span><div class="slinker-text">Slinker</div></span>
</ul>
  <div class="items">
    <div class="item1-case">
    <ul class="site-iem">
      <div class="slinker-icon">
        <img src="/assets/playground_assets/vector3633-d2ol.svg">
      </div>
      <div class="site-text"><a href="sites" >sites</a></div>
    </ul>
      <ul class="eysi-item">
        <div class="eysi-item-backRectangle">
          <div class="eysi-icon">
            <img src="/assets/playground_assets/favicon32x3213634-sugd-200w.png">
          </div>
          <div class="eysi-text"><a href="https://eysi.net/" >eysi.net</a></div>
        </div>
      </ul>
    </div>
    <ul class="dashboard-item">
      <div class="dashboard-icon">
        <img src="/assets/playground_assets/vector3633-3gk.svg">
      </div>
      <div class="dashboard-text"><a href="" >Dashboard</a></div>
    </ul>
  <ul class="affiliate-item">
    <div class="affiliate-icon">
      <img src="/assets/playground_assets/vector3634-n2k.svg">
    </div>
    <div class="dashboard-text"><a href="" >Affiliate audit</a></div>
  </ul>
    <ul class="issues-item">
    <li class="issues-text"><a routerLink="../issues" >issues</a></li>
  </ul>
    <ul class="summary-item">
      <li class="summary-text"><a href="summary">summary</a></li>
    </ul>


    <ul class="site-monitoring-item">
      <div class="site-monitoring-icon">
        <img src="/assets/playground_assets/vector3635-plpw.svg">
      </div>
      <div class="site-monitoring-text"><span><a href="" >Site monitoring</a></span></div>
    </ul>
    <ul class="affiliate-rank-tracker-item">
      <div class="affiliate-rank-tracker-icon">
        <img src="/assets/playground_assets/uilanalysis3636-eb79.svg">
      </div>
      <div class="affiliate-rank-tracker-text"><span><a href="" >affiliate rank tracker</a></span></div>
    </ul>
    <ul class="custum-link-chiker-item">
      <div class="custum-link-chiker-icon">
        <img src="/assets/playground_assets/vector3636-ynyo.svg">
      </div>
      <div class="custum-link-chiker-text"><span><a href="custumLink" >custum link chiker</a></span></div>
    </ul>
    <ul class="guides-item2">
      <div class="guides-icon2">
        <img src="/assets/playground_assets/vector3637-t6q.svg">
      </div>
      <div class="guide-vidio-icon">
        <img src="/assets/playground_assets/vector3637-em99.svg">
      </div>
      <div class="guides-text2"><span><a href="guides" >Watch our guides</a></span></div>
    </ul>
    <ul class="pricing-item">
      <div class="pricing-icon">
        <img src="/assets/playground_assets/vector3637-ww3.svg">
      </div>
      <div class="pricing-text"><a href="" >Pricing</a></div>
    </ul>
    <ul class="help-item">
      <div class="help-icon">
        <img src="/assets/playground_assets/vector3638-k41.svg">
      </div>
      <div class="help-text"><a href="" >Get help</a></div>
    </ul>
  </div>
</div>
</div>
