.page {
  width: 100%;
}

.header {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding-inline: 160px 60px;
  padding: 30px 60px 30px 100px;
  color: white;
}

.right_header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.right_header .icon {
  position: relative;
  cursor: pointer;
}

/* .right_header .icon:hover ul {
  display: flex;
} */

.right_header .icon ul {
  flex-direction: column;
  gap: 8px;
  position: absolute;
  list-style: none;
  left: 0;
  background-color: white;
  color: black;
  margin-top: 8px;
  padding: 10px;
  transition: all 0.5s;
}

.right_header .icon ul li {
  padding: 2px 10px;
  cursor: pointer;
}

.right_header .icon ul li:hover {
  background-color: gray;
  color: white;
}

.header .vector {
  width: 20px;
  height: 20px;
}

.header .num {
  padding: 2px 8px;
  background: #c5add2;
  border-radius: 6px;
}

/* top-half */
.top-half {
  background: url("../../../assets/link-web/Rectangle_37.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;

  width: 100%;
  color: white;
  min-height: 70vh;
}

.top-half .titre {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 30px;
}

.top-half .sous-titre {
  font-size: 1.2rem;
  letter-spacing: 1.3px;
}

.zone-de-saisie {
  display: flex;
  justify-content: space-between;
  min-width: 60%;
  background: #fff;
  padding: 3px;
}

.top-half input {
  flex: 1;
  padding: 12px;
  font: 1.3em;
  border: none;
  outline: none;
}

.zone-de-saisie button {
  border: none;
  width: 20%;
  background: linear-gradient(83.94deg, #503e9d 0%, #c5add2 100%);
  color: #fff;
  font-size: 20px;
  transition: all 1s ease-in-out;
}

.zone-de-saisie button:hover {
  background: linear-gradient(23.94deg, #503e9d 0%, #c5add2 100%);
}

/* bottom-half */
.bottom-half {
  width: 100%;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-half .content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  padding: 50px;
}

.bottom-half .content {
  width: 100%;
}

.bottom-half button {
  position: absolute;
  border: none;
  height: 55px;
  width: 170px;
  background: #503e9d;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.2px;
  transition: all 1s ease-in-out;
}
