.page {
  width: 100%;
}

.header {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding-inline: 160px 60px;
  padding: 30px 60px 30px 100px;
  color: white;
}

.left_header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header .vector {
  width: 20px;
  height: 20px;
}

.header .num p {
  background: #ffb5f2;
  padding: 2px 6px;
  border-radius: 5px;
}

.top-half {
  width: 100%;
  height: 50vh;
  background: linear-gradient(83.94deg, #503e9d 0%, #c5add2 100%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70vh;
}

.top-half h1 {
  font-size: 50px;
  font-weight: 500;
}
.top-half p {
  font-size: 25px;
}

.zone-de-saisie {
  display: flex;
}

.top-half input {
  padding: 5px 10px;
  width: min(300px, 90%);
}
.top-half input {
  padding: 5px 10px;
  width: min(300px, 90%);
}
.top-half button {
  border: none;
}

.bottom-half {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border: 1px solid transparent;
  padding: 7px 20px;
  background: #425f9e;
  color: #fff;
  font-size: 20px;
  transition: 0.3s;
}

button:hover {
  border-color: #425f9e;
  color: #425f9e;
  background: #fff;
}
