<div class="page">
  <div class="header">
    <div>
      <img src="../../../assets/Group_28.svg" class="slinker-icon" />
    </div>

    <div class="left_header">
      <img class="vector" src="../../../assets/Vector.svg" alt="">
      <div class="num"><p>3</p></div>
    </div>
  </div>

  <div class="top-half">
    <h1 class="titre">Enter Your website</h1>
    <p class="sous-titre">Welcome to Slinker !</p>
    <div class="zone-de-saisie">
      <input
        class="input-insert"
        name="url"
        [(ngModel)]="savedWebsite.url"
        placeholder="Enter your domain to check affiliate’s links"
      />
      <!-- summary -->
      <button class="button-insert" (click)="ScrapingData()">Analyse</button>
    </div>
  </div>

  <div class="bottom-half">
    <button class="update-button" routerLink="../pricing">Upgrade Plan</button>
  </div>
</div>
