<div class="container-fluid">
  <div class="contenu">
  <div class="titre">
  <div >Watch Our guides</div></div>
<div class="row">
  <div class="col-md-4  paragraph">
<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </div></div>
<div class=" guide-image">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/8JyToeotWys" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
  </div>
</div>
</div>
