<div class="page">
  <div class="contenu">
    <div class="titre">
      <div >Watch Our guides</div></div>
    <div class="row">
      <div class="paragraph">
        <p>Vous êtes à la recherche d’une façon de présenter votre identité, entreprise ou bien service d’une manière claire et professionnelle? Besoin de boutique en ligne pour exposer vos produits et/ou services? Vous souhaitez acquérir plus de clients et mieux commercialisé votre image de marque?
          Vous êtes sur la bonne adresse. </p></div>
      <div class=" guide-image">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/8JyToeotWys" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
