@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";
@import url(https://mega.nz/folder/UIRVnSCS#7ZtbdgD3hc9jdBnSxFqZlw);

@font-face {
  font-family: Circular Std;
  src: url("src/app/css/fonts/CircularStd-BlackItalic.woff2") format("woff2"),
    url("src/app/css/fonts/CircularStd-BlackItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: Circular Std;
  src: url("src/app/css/fonts/CircularStd-MediumItalic.woff2") format("woff2"),
    url("src/app/css/fonts/CircularStd-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: Circular Std;
  src: url("src/app/css/fonts/CircularStd-BoldItalic.woff2") format("woff2"),
    url("src/app/css/fonts/CircularStd-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: Circular Std;
  src: url("src/app/css/fonts/CircularStd-BookItalic.woff2") format("woff2"),
    url("src/app/css/fonts/CircularStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Circular Std;
  src: url("src/app/css/fonts/CircularStd-Book.woff2") format("woff2"),
    url("src/app/css/fonts/CircularStd-Book.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Circular Std;
  src: url("src/app/css/fonts/CircularStd-Black.woff2") format("woff2"),
    url("src/app/css/fonts/CircularStd-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Circular Std;
  src: url("src/app/css/fonts/CircularStd-BlackItalic.woff2") format("woff2"),
    url("src/app/css/fonts/CircularStd-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: Circular Std;
  src: url("src/app/css/fonts/CircularStd-Bold.woff2") format("woff2"),
    url("src/app/css/fonts/CircularStd-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --main-bg-color: #503e9d;
  --font-primary: Circular Std;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
}
