<input type="checkbox" id="toggle" />
<div class="container">
  <div class="row">
    <div class="wrapper">
      <div class="side-bar">
        <ul>
          <li class="menu-head">
            <div class="row">
              <div class="col-9">
                <img
                  class="img-responsive hide"
                  height="50px"
                  width="100%"
                  src="assets/slinker_titre.png"
                  alt="Logo"
                />
              </div>
              <div class="col-3">
                <label
                  for="toggle"
                  class="fa fa-list btn btn-sm btn-dark text-white"
                  aria-hidden="true"
                ></label>
              </div>
            </div>
          </li>
          <div class="menu hide">
            <li>
              <a href="../sites"
                ><img src="/assets/playground_assets/vector3633-d2ol.svg" />
                <p class="text">sites</p></a
              >
            </li>
            <li>
              <a href="#"
                ><img src="/assets/playground_assets/vector3633-d2ol.svg" />
                <p class="text">sites</p></a
              >
            </li>
            <li>
              <a href="#"
                ><img src="/assets/playground_assets/vector3633-d2ol.svg" />
                <p class="text">sites</p></a
              >
            </li>
            <li>
              <a href="#"
                ><img src="/assets/playground_assets/vector3633-d2ol.svg" />
                <p class="text">sites</p></a
              >
            </li>
            <li>
              <a href="#"
                ><img src="/assets/playground_assets/vector3633-d2ol.svg" />
                <p class="text">sites</p></a
              >
            </li>
            <li>
              <a href="#"
                ><img src="/assets/playground_assets/vector3633-d2ol.svg" />
                <p class="text">sites</p></a
              >
            </li>
            <li>
              <a href="#"
                ><img src="/assets/playground_assets/vector3633-d2ol.svg" />
                <p class="text">sites</p></a
              >
            </li>
            <li>
              <a href="#"
                ><img src="/assets/playground_assets/vector3633-d2ol.svg" />
                <p class="text">sites</p></a
              >
            </li>
            <li>
              <a href="#"
                ><img src="/assets/playground_assets/vector3633-d2ol.svg" />
                <p class="text">sites</p></a
              >
            </li>
            <li>
              <a href="#"
                ><img src="/assets/playground_assets/vector3633-d2ol.svg" />
                <p class="text">sites</p></a
              >
            </li>
          </div>
        </ul>
      </div>
      <div class="content"></div>
    </div>
  </div>
</div>
<script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"
></script>
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"
></script>
