@font-face {
  font-family: Circular Std;
  src: url('src/app/css/fonts/CircularStd-BlackItalic.woff2') format('woff2'),
  url('src/app/css/fonts/CircularStd-BlackItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Circular Std;
  src: url('src/app/css/fonts/CircularStd-MediumItalic.woff2') format('woff2'),
  url('src/app/css/fonts/CircularStd-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Circular Std;
  src: url('src/app/css/fonts/CircularStd-BoldItalic.woff2') format('woff2'),
  url('src/app/css/fonts/CircularStd-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Circular Std;
  src: url('src/app/css/fonts/CircularStd-BookItalic.woff2') format('woff2'),
  url('src/app/css/fonts/CircularStd-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Circular Std;
  src: url('src/app/css/fonts/CircularStd-Book.woff2') format('woff2'),
  url('src/app/css/fonts/CircularStd-Book.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Circular Std;
  src: url('src/app/css/fonts/CircularStd-Black.woff2') format('woff2'),
  url('src/app/css/fonts/CircularStd-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family:Circular Std ;
  src: url('src/app/css/fonts/CircularStd-BlackItalic.woff2') format('woff2'),
  url('src/app/css/fonts/CircularStd-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: Circular Std;
  src: url('src/app/css/fonts/CircularStd-Bold.woff2') format('woff2'),
  url('src/app/css/fonts/CircularStd-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


:root {
  --main-bg-color: #503E9D;
  --font-primary: Circular Std;
}


.contenu{
  background: #E5E5E5;
  width: 1800px;
  height: 1080px;
  left: 250px;/*361*/
  top: 140px;/*181*/
}
.summuray-titre{
  position: absolute;
  width: 176px;
  height: 51px;
  left: 330px;
  top: 100px;
  font-family: Circular std;
  white-space: nowrap;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 51px;
  /* identical to box height */
  color: #000000;
}
.repot-compelet{
  position: absolute;
  width: 709px;
  height: 140px;
  left: 330px;/*361*/
  top: 162px;/*181*/
  background: #FFFFFF;
  border-radius: 10px;
}
.repot-compelet-text{
  position: absolute;
  width: 363px;
  height: 41px;
  left: 10%;
  top: 10%;
  font-family: Circular std;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 38px;
  color: #31BA86;
}
.report-text{
  position: absolute;
  width: 550px;
  height: 40px;
  top: 85px;
  font-family: Circular std;
  font-style: normal;
  font-weight: 450;
  font-size: 20px;
  line-height: 25px;
  color: #797876;
}
.trois-point{
  position: absolute;
  left: 680px;
  top: 10%;
  bottom: 80.28%;
  color: #797876;
}
.recheck {
  position: absolute;
  width: 210px;
  height: 210px;
  left: 1040px;
  top: 135px;
}
.download {
  position: absolute;
  width: 130px;
  height: 130px;
  left: 1222px;
  top: 162px;
  background: #FFFFFF;
  box-shadow: 0px 15px 40px rgba(87, 105, 177, 0.06);
  border-radius: 10px;
}
.upgrade-rectangle{
  position: absolute;
  width: 340px;
  height: 135px;
  left: 1390px;
  top: 160px;
  background: url("src/assets/cover 2@1920x-8 1 (3).png");
  background-color: #503E9D;
  box-shadow: 0px 15px 50px rgba(87, 105, 177, 0.06);
  border-radius: 10px;
}
.upgrade-paragraphe{
  position: absolute;
  width: 247px;
  height: 50px;
  left: 10%;
  right:10%;
  top: 5%;
  font-family: Circular std;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
}
.upgrade-button{
  position: absolute;
  width: 160px;
  height: 50px;
  left: 25%;
  right:25%;
  top: 60%;
  background: #FFFFFF;
  border-radius: 10px;

}
.upgrade-text{
  position: absolute;
  width: 79px;
  height: 25px;
  left: 20%;
  top: 15%;
  font-family: Circular std;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  text-align: center;

  color: #503E9D;

}
.amazon-products-titre{
  position: absolute;
  width: 185.26px;
  height: 32px;
  left: 1080px;
  top: 351px;

  font-family: Circular Std;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;

  color: #000000;
}
.amazon-products-rectangle{
  position: absolute;
  width: 709px;
  height: 621px;
  left: 1080px;
  top: 400px;
  background: #FFFFFF;
  box-shadow: 0px 15px 30px rgba(87, 105, 177, 0.06);
  border-radius: 10px;
}
.items-titre{
  position: absolute;
  width: 701px;
  height: 108px;
  left: 0px;
  top: 53px;
  background: #E5E5E5;
  box-shadow: 0px 10px 20px rgba(87, 105, 177, 0.05);
}
.statues{
  position: absolute;
  width: 52px;
  height: 24px;
  left: 31px;
  top: 10%;

  font-family: Circular std;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  color: #5769B1;

}
.all{
  position: absolute;
  width: 24px;
  height: 24px;
  left: 104px;
  top: 10%;

  font-family: Circular std;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  color: #31BA86;

}
.available{
  position: absolute;
  width: 68px;
  height: 24px;
  left: 146px;
  top: 10%;
  font-family: Circular std;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #797876;
}
.unavailable{
  position: absolute;
  width: 86px;
  height: 24px;
  left: 232px;
  top: 10%;
  font-family: Circular std;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  color: #797876;

}
.notfound{
  position: absolute;
  width: 30px;
  height: 24px;
  left: 336px;
  top: 10%;
  font-family: Circular std;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #797876;
}
.affiliateId{
  position: absolute;
  width: 86px;
  height: 24px;
  left: 405px;
  top: 10%;
  font-family: Circular std;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #5769B1;
}
.boxSizing{
  box-sizing: border-box;
  position: absolute;
  width: 160px;
  height: 30px;
  left: 504px;
  top: 8%;
  background: #FFFFFF;
  border: 0.3px solid #797876;
  border-radius: 4px;
}
.dropdown{
  left:92%;
  top: 10%;
}
.items-ligne{
  position: absolute;
  width: 663px;
  height: 0px;
  left: 16px;
  top: 65%;

  border: 1px solid rgba(121, 120, 118, 0.2);

}
.image{
  position: absolute;
  width: 48px;
  height: 24px;
  left: 31px;
  top: 76%;

  font-family: Circular std;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  color: #797876;

}
.product-name{
  position: absolute;
  width: 104px;
  height: 24px;
  left: 137px;
  top: 76%;

  font-family: Circular std;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  color: #797876;

}
.product-statu{
  position: absolute;
  width: 110px;
  height: 24px;
  left: 299px;
  top: 76%;

  font-family: Circular std;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  color: #797876;
}
.reviews{
  position: absolute;
  width: 64px;
  height: 20px;
  left: 467px;
  top: 76%;

  font-family: Circular std;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  color: #797876;

}
.affiliateId2{
  position: absolute;
  width: 80px;
  height: 24px;
  left: 589px;
  top: 76%;

  font-family: Circular std;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  color: #797876;

}
.image1{
  position: absolute;
  width: 80px;
  height: 80px;
  left: 17px;
  top: 170px;

}
.name1{
  position: absolute;
  width: 125px;
  height: 39px;
  left: 137px;
  top: 191px;

  font-family: Circular std;
  font-style: normal;
  font-weight: 450;
  font-size: 10px;
  line-height: 13px;

  color: #000000;

}
.statut-espace1{
  position: absolute;
  width: 70px;
  height: 16px;
  left: 320px;
  top: 202px;

  background: #31BA86;
  border-radius: 5px;
}
.stau1-text{
  position: absolute;
  width: 53px;
  height: 13px;
  left: 8%;
  top: 10%;

  font-family: Circular std;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 13px;
  /* identical to box height */


  color: #ffffff;
}
.review1{
  position: absolute;
  width: 70px;
  height: 13px;
  left: 464px;
  top: 204px;

  font-family: Circular std;
  font-style: normal;
  font-weight: 450;
  font-size: 10px;
  line-height: 13px;
  /* identical to box height */


  color: #000000;

}
.affiliate-espace1{
  position: absolute;
  width: 70px;
  height: 16px;
  left: 594px;
  top: 202px;

  background: #4A61BD;
  border-radius: 5px;
}
.affiliate-text1{
  position: absolute;
  width: 53px;
  height: 14px;
  left: 10%;
  top: 10%;

  font-family: Circular std;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 13px;

  color: #FFFFFF;

}
.image2{
  position: absolute;
  width: 80px;
  height: 80px;
  left: 17px;
  top: 286px;

}
.product-name2{
  position: absolute;
  width: 134px;
  height: 39px;
  left: 137px;
  top: 307px;

  font-family: Circular std;
  font-style: normal;
  font-weight: 450;
  font-size: 10px;
  line-height: 13px;

  color: #000000;


}
.statut-espace2{
  position: absolute;
  width: 83px;
  height: 16px;
  left: 313px;
  top: 318px;

  background: #F53B12;
  border-radius: 5px;
}
.stau2-text{
  position: absolute;
  width: 68px;
  height: 13px;
  left: 10%;
  top: 10%;

  font-family: Circular std;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 13px;
  /* identical to box height */


  color: #FFFFFF;

}
.review2{
  position: absolute;
  width: 70px;
  height: 13px;
  left: 464px;
  top: 320px;

  font-family: Circular std;
  font-style: normal;
  font-weight: 450;
  font-size: 10px;
  line-height: 13px;
  /* identical to box height */


  color: #000000;

}
.affiliate-espace2{
  position: absolute;
  width: 70px;
  height: 16px;
  left: 594px;
  top: 318px;

  background: #4A61BD;
  border-radius: 5px;
}
.affiliate-text2{
  position: absolute;
  width: 53px;
  height: 14px;
  left: 10%;
  top: 10%;

  font-family: Circular std;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 13px;

  color: #FFFFFF;
}
.image3{
  position: absolute;
  width: 80px;
  height: 80px;
  left: 17px;
  top: 400px;


}
.product-name3{
  position: absolute;
  width: 125px;
  height: 39px;
  left: 137px;
  top: 421px;

  font-family: Circular std;
  font-style: normal;
  font-weight: 450;
  font-size: 10px;
  line-height: 13px;

  color: #000000;

}
.statut-espace3{
  position: absolute;
  width: 70px;
  height: 16px;
  left: 320px;
  top: 432px;

  background: #C4C4C4;
  border-radius: 5px;
}
.stau3-text{
  position: absolute;
  width: 47px;
  height: 13px;
  left: 10%;
  top: 10%;

  font-family: Circular std;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 13px;
  /* identical to box height */


  color: #FFFFFF;

}
.review3{
  position: absolute;
  width: 70px;
  height: 13px;
  left: 464px;
  top: 434px;

  font-family: Circular std;
  font-style: normal;
  font-weight: 450;
  font-size: 10px;
  line-height: 13px;
  /* identical to box height */


  color: #000000;

}
.affiliate-espace3{
  position: absolute;
  width: 70px;
  height: 16px;
  left: 594px;
  top: 432px;

  background: #4A61BD;
  border-radius: 5px;
}
.affiliate-text3{
  position: absolute;
  width: 53px;
  height: 14px;
  left: 10%;
  top: 10%;

  font-family: Circular std;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 13px;

  color: #FFFFFF;

}
.upgrade-box{
  position: absolute;
  width: 662px;
  height: 132px;
  left: 17px;
  top: 505px;

  background: radial-gradient(50% 1293.88% at 50% 43.65%, rgba(87, 105, 177, 0.0648) 0%, rgba(255, 255, 255, 0.09) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  backdrop-filter: blur(5px);
}
.ligne1{
  position: absolute;
  width: 638px;
  height: 0px;
  left: 31px;
  top: 275px;

  border: 1px solid rgba(121, 120, 118, 0.2);
  transform: rotate(0deg);

}
.ligne2{
  position: absolute;
  width: 638px;
  height: 0px;
  left: 31px;
  top: 391px;

  border: 1px solid rgba(121, 120, 118, 0.2);
  transform: rotate(0deg);
}
.image4{
  position: absolute;
  width: 80px;
  height: 80px;
  left: 17px;
  top: 510px;


}
.product-name4{
  position: absolute;
  width: 125px;
  height: 39px;
  left: 137px;
  top: 530px;

  font-family: Circular std;
  font-style: normal;
  font-weight: 450;
  font-size: 10px;
  line-height: 13px;

  color: #000000;

}
.statut-espace4{
  position: absolute;
  width: 70px;
  height: 16px;
  left: 320px;
  top: 530px;

  background: #C4C4C4;
  border-radius: 5px;
}
.stau4-text{
  position: absolute;
  width: 47px;
  height: 13px;
  left: 10%;
  top: 10%;

  font-family: Circular std;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 13px;
  /* identical to box height */


  color: #FFFFFF;

}
.review4{
  position: absolute;
  width: 70px;
  height: 13px;
  left: 464px;
  top: 530px;

  font-family: Circular std;
  font-style: normal;
  font-weight: 450;
  font-size: 10px;
  line-height: 13px;
  /* identical to box height */


  color: #000000;

}
.affiliate-espace4{
  position: absolute;
  width: 70px;
  height: 16px;
  left: 594px;
  top: 530px;

  background: #4A61BD;
  border-radius: 5px;
}
.affiliate-text4{
  position: absolute;
  width: 53px;
  height: 14px;
  left: 10%;
  top: 10%;

  font-family: Circular std;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 13px;

  color: #FFFFFF;

}
.upgrade-button2{
  position: absolute;
  width: 160px;
  height: 50px;
  left: 40%;
  top: 3%;

  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(87, 105, 177, 0.1);
  border-radius: 10px;
}
.text-upgrade{
  position: absolute;
  width: 79px;
  height: 25px;
  left: 25%;
  top: 20%;

  font-family: Circular std;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  text-align: center;

  color: #503E9D;

}
.page-checked{
  position: absolute;
  width: 172.18px;
  height: 123.03px;
  left: 330px;
  top: 520px;

  background: #FFFFFF;
  box-shadow: 0px 15px 30px rgba(87, 105, 177, 0.06);
  border-radius: 10px;
}
.link-processed{
  position: absolute;
  width: 159.66px;
  height: 123.03px;
  left: 515px;
  top: 520px;

  background: #FFFFFF;
  box-shadow: 0px 15px 30px rgba(87, 105, 177, 0.06);
  border-radius: 10px;
}
.calendrier{
  position: absolute;
  width: 159.66px;
  height: 123.03px;
  left: 699px;
  top: 520px;

  background: #FFFFFF;
  box-shadow: 0px 15px 30px rgba(87, 105, 177, 0.06);
  border-radius: 10px;
}
.time{
  position: absolute;
  width: 159.66px;
  height: 123.03px;
  left: 870px;
  top: 520px;

  background: #FFFFFF;
  box-shadow: 0px 15px 30px rgba(87, 105, 177, 0.06);
  border-radius: 10px;

}
.nbr1{
  position: absolute;
  width: 49.12px;
  height: 41.79px;
  left: 386px;
  top: 580px;

  font-family: Circular std;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  text-align: center;

  color: #000000;

}
.boxLinks{
  position: absolute;
  width: 703.97px;
  height: 426.8px;
  left: 1080px;
  top: 647.89px;

  background: #FFFFFF;
  box-shadow: 0px 15px 30px rgba(87, 105, 177, 0.06);
  border-radius: 10px;
}
.site-metrice{
  position: absolute;
  width: 120.53px;
  height: 23.3px;
  left: 330px;
  top: 490px;

  font-family: Circular Std;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;

  color: #000000;
}
.crawl-details{
  position: absolute;
  width: 133.69px;
  height: 23.3px;
  left: 699px;
  top: 490px;

  font-family: Circular std;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;

  color: #000000;

}
.page-cheched-text{
  position: absolute;
  width: 56.8px;
  height: 27.35px;
  left: 380.96px;
  top: 610px;
  font-family: Circular std;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  color: #797876
}
.nbr2{
  position: absolute;
  width: 55.88px;
  height: 41.79px;
  left: 560px;
  top: 580px;

  font-family: Circular Std;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  text-align: center;

  color: #000000;

}
.link-processed-text{
  position: absolute;
  width: 55.71px;
  height: 27.35px;
  left: 560px;
  top: 610px;

  font-family: Circular Std;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 13px;
  text-align: center;

  color: #797876;
}
.nbr3{
  position: absolute;
  width: 90.63px;
  height: 41.79px;
  left: 735px;
  top: 580px;

  font-family: Circular Std;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  text-align: center;

  color: #000000;

}
.calendrier-text{
  position: absolute;
  width: 76.98px;
  height: 27.35px;
  left: 746px;
  top: 610px;

  font-family: Circular Std;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 13px;
  text-align: center;

  color: #797876;

}
.nbr4{
  position: absolute;
  width: 82.65px;
  height: 41.79px;
  left: 900px;
  top: 580px;

  font-family: Circular Std;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  text-align: center;

  color: #000000;

}
.time-text{
  position: absolute;
  width: 46.59px;
  height: 27.35px;
  left: 920px;
  top: 610px;

  font-family: Circular std;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 13px;
  text-align: center;

  color: #797876;

}
a{
  all: unset;
}
.custumLinkBox{
  Width :704px;
  Height :191px;
  Top :420px;
  Left :330px;
}
.custum-link-chiker{
  position: absolute;
  width: 231px;
  height: 23px;
  left: 330px;
  top: 351px;

  font-family: Circular Std;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;

  color: #000000;
}

.insertionBox{
  position: absolute;
  width: 704px;
  height: 48px;
  left: 330px;
  top: 400px;

}
.input-class{
  width: 550px;
  height: 48px;
}
.button-class{
  width: 154px;
  height: 48px;
  background: #503E9D;
  color: white;
}

a {
  all: unset;
}
.affiliate-link-text{
  position: absolute;
  width: 231px;
  height: 23px;
  left: 330px;
  top: 685px;
  font-family: Circular Std;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
}
.table-container {
  position: absolute;
  height: 264px; /* Hauteur de la zone d'affichage */
  overflow: auto; /* Ajoute une barre de défilement si nécessaire */
  border: 1px solid black; /* Bordure pour la zone d'affichage */
  left: 330px;
  width: 700px;
  top: 730px;
  background: #FFFFFF;
  box-shadow: 0px 15px 30px rgba(87, 105, 177, 0.06);
  border-radius: 10px;
  border: none;
}
.tableau-ligne{
  position: absolute;
  width: 628.66px;
  height: 0px;

  border: 1px solid rgba(121, 120, 118, 0.2);
}
.td-text{
  text-align: center;
}
.box-transparante{
  position: absolute;
  width: 703.97px;
  height: 134.57px;
  left: 330px;
  top: 880px;

  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, #FFFFFF 74.26%);
  border-radius: 10px;
}
.vrai-vector{
  position: absolute;
  left: 19.64%;
  right: 78.54%;
  top: 20.09%;
  bottom: 77.5%;
}
