<app-side-menu-search></app-side-menu-search>
<div class="contenu">
  <div class="summuray-titre">Custom link checker</div>
  <div class="repot-compelet">
    <div class="repot-compelet-text">Report completed</div>
    <div class="report-text">Please subscribe to Slinker to get access to full features and find broken links on your site
    </div>
    <div class="trois-point">...</div>
  </div>
  <div ><a href="#"><img src="assets/recheck.png" class="recheck"></a></div>
  <div><a href="#"><img src="../../../assets/download-icon1.png" class="download"></a></div>
  <div class="upgrade-rectangle">
    <div class="upgrade-paragraphe"> Improve Managment by upgrading your account</div>
    <div>
      <button class="upgrade-button">
        <div class="upgrade-text"><a routerLink="../pricing">Upgrade</a></div>
      </button> </div>
  </div>
  <div class="custumLinkBox" >
    <div class="custum-link-chiker">
      <span>Custom link </span>
    </div>
    <div class="insertionBox">
      <span><input class="input-class"  placeholder="eysi.net"></span>
      <span><button class="button-class btn-primary"><a routerLink="../summary">Insert</a></button> </span>
    </div>
  </div>
  <div class="site-metrice">site metrices</div>
  <div class="page-checked"></div>
  <div class="nbr1">110</div>
  <div class="page-cheched-text">Pages Checked</div>
  <div class="link-processed"></div>
  <div class="nbr2">250</div>
  <div class="link-processed-text">Links Processed</div>
  <div class="crawl-details">crawl details</div>
  <div class="calendrier"></div>
  <div class="nbr3">03/20</div>
  <div class="calendrier-text">Crawling Date Started</div>
  <div class="time"></div>
  <div class="nbr4">3 min</div>
  <div class="time-text">Time Elapsed</div>
  <p class="amazon-products-titre">Amazon products</p>
  <table class="amazon-products-rectangle">
    <thead class="items-titre">
    <tr>
      <td class="statues">statues:</td>
      <td class="all">All</td>
      <td class="available">Available</td>
      <td class="unavailable">Unavailable</td>
      <td class="notfound">404</td>
      <td class="affiliateId">Affiliate Id</td>
      <td><input class="boxSizing"> <i class="fa fa-caret-down dropdown" aria-hidden="true"></i></td>
    </tr>
      <tr class="items-ligne"></tr>
      <tr>
        <td class="image">Image</td>
      <td class="product-name">Procduct name</td>
      <div class="product-statu">Product staut</div>
      <div class="reviews">Reviews</div>
      <div class="affiliateId2">Affiliate Id</div>
    </tr>
    </thead>
    <tbody>
    <tr><img src="assets/produit.png" class="image1"></tr>
    <tr class="name1">Nair Hair Remover for Men
      Hair Remover Body Cream,
      13 oz</tr>
    <tr class="statut-espace1">
      <div class="stau1-text">AVAILABLE</div>
    </tr>
    <tr class="review1">3.7 (42 reviews)</tr>
    <tr class="affiliate-espace1">
      <div class="affiliate-text1">ge2kliam22</div>
    </tr>
    <tr class="ligne1"></tr>
    <tr><img src="assets/produit.png" class="image2"></tr>
    <tr class="product-name2">Aveeno Facial Moisturizers
      Clear Complexion BB Cream,
      Fair To Light, 2.5 Fluid ...</tr>
    <tr class="statut-espace2">
      <div class="stau2-text">UNAVAILABLE</div>
    </tr>
    <tr class="review2">3.7 (42 reviews)</tr>
    <tr class="affiliate-espace2">
      <div class="affiliate-text2">ge2kliam22</div>
    </tr>
    <tr class="ligne2"></tr>
    <tr><img src="assets/produit.png" class="image3"></tr>
    <tr class="product-name3">Aveeno Facial Moisturizers
      Clear Complexion BB Cream,
      Fair To Light, 2.5 Fluid ...</tr>
    <tr class="statut-espace3">
      <div class="stau3-text">UNAVAILABLE</div>
    </tr>
    <tr class="review3">3.7 (42 reviews)</tr>
    <tr class="affiliate-espace3">
      <div class="affiliate-text3">ge2kliam22</div>
    </tr>
    <tr><img src="assets/produit.png" class="image4"></tr>
    <tr class="product-name4">Aveeno Facial Moisturizers
      Clear Complexion BB Cream,
      Fair To Light, 2.5 Fluid ...</tr>
    <tr class="statut-espace4">
      <div class="stau4-text">UNAVAILABLE</div>
    </tr>
    <tr class="review4">3.7 (42 reviews)</tr>
    <tr class="affiliate-espace4">
      <div class="affiliate-text4">ge2kliam22</div>
    </tr>
    <tr class="upgrade-box">
      <button class="upgrade-button2">
        <span class="text-upgrade"><a routerLink="../pricing">updrade</a></span>
      </button>
    </tr>
    </tbody>
  </table>
  <p class="affiliate-link-text">Affiliate Links detected</p>
  <div class="table-container">
    <table>
      <tbody>
      <tr>
        <td >https://eysi.net</td>
      </tr>
      <tr class="tableau-ligne"></tr>
      <tr>
        <td>https://eysi.net</td>
      </tr>
      <tr class="tableau-ligne"></tr>
      <tr>
        <td>https://eysi.net</td>
      </tr>
      <tr class="tableau-ligne"></tr>
      <tr>
        <td>https://eysi.net</td>
      </tr>
      <tr class="tableau-ligne"></tr>
      <tr>
        <td>https://eysi.net</td>
      </tr>
      <tr class="tableau-ligne"></tr>
      <tr>
        <td>https://eysi.net</td>
      </tr>
      <tr class="tableau-ligne"></tr>
      <tr>
        <td>https://eysi.net</td>
      </tr>
      <tr class="tableau-ligne"></tr>
      <tr>
        <td>https://eysi.net</td>
      </tr>
      <tr class="tableau-ligne"></tr>
      <tr>
        <td>https://eysi.net</td>
      </tr>
      <tr class="tableau-ligne"></tr>
      <tr>
        <td>https://eysi.net</td>
      </tr>
      <tr class="tableau-ligne"></tr>
      <tr>
        <td>https://eysi.net</td>
      </tr>
      <!-- Ajoutez autant de lignes que nécessaire -->
      </tbody>
    </table>
  </div>
  <div class="box-transparante"></div>
</div>
