<section class="grid">
  <div class="graph-card">
    <div class="graph-wrapper bar-chart-v">
      <div class="graph">
        <div class="bar">
          <div class="bar-inner" style="height: 50%;"></div>
        </div>
        <div class="bar">
          <div class="bar-inner" style="height: 150%;"></div>
        </div>
        <div class="bar">
          <div class="bar-inner" style="height: 150%;"></div>
        </div>
        <div class="bar">
          <div class="bar-inner" style="height: 90%;"></div>
        </div>
        <div class="bar">
          <div class="bar-inner" style="height: 80%;"></div>
        </div>
        <div class="bar">
          <div class="bar-inner" style="height: 90%;"></div>
        </div>
        <div class="bar">
          <div class="bar-inner" style="height: 20%;"></div>
        </div>
        <div class="bar">
          <div class="bar-inner" style="height: 40%;"></div>
        </div>
      </div>
      <div class="side-legend">
        <span>80</span>
        <span>60</span>
        <span>40</span>
        <span>20</span>
        <span>0</span>
        <span>80</span>
        <span>60</span>
        <span>40</span>
        <span>20</span>
        <span>0</span>
      </div>
      <div class="bottom-legend">
        <span>Mon</span>
        <span>Tue</span>
        <span>Wed</span>
        <span>Thu</span>
        <span>Fri</span>
        <span>Sat</span>
        <span>Sun</span>
      </div>
    </div>
  </div>
</section>
