/**
 * Variable setup
 *
 * Setting up SCSS variables and mixins, as well as
 * defining animations.
*/
$color-blue: #7683d9;
$color-magenta: MediumOrchid;

$color-dark-primary: #ffff;
$color-dark-light: #fff;
$color-dark-lighter: #fff;
$color-dark-lightest: #4ea22c;

@mixin soft-shadow($color, $opacity: 0.03) {
  box-shadow: 0 1px 2px rgba($color,$opacity),
  0 2px 4px rgba($color,$opacity),
  0 4px 8px rgba($color,$opacity),
  0 8px 16px rgba($color,$opacity),
  0 16px 32px rgba($color,$opacity),
  0 32px 64px rgba($color,$opacity);
}

@keyframes bar-up {
  from { height: 0%; }
  to { height: 100%; }
}

@keyframes bar-right {
  from { width: 100%; }
  to { width: 0%; }
}

// Grid of graphs

   .grid {
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 2rem;
   }

// Graph cards
   .graph-card {
     background-color: $color-dark-light;
     width: 200%;
     max-height: 300px;

.graph-title {
  display: flex;
  justify-content: space-between;
  font-size: 1.1em;

& > * { margin: 0; }
i { color: $color-dark-lightest; cursor: pointer; transition: color 200ms ease; }
i:hover { color: #ccc; }
}

.graph-wrapper { margin-top: 0rem; }
}


.graph-wrapper.bar-chart-v,
.graph-wrapper.bar-chart-h {

.graph {
  display: flex;
  justify-content: space-between;
  width: 100%;
.bar {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  width: 10px;
  margin: 0 auto;
  background: $color-dark-lighter;
  border-radius: 1000px;

.bar-inner {
  position: relative;
  border-radius: 1000px;
  width: 100%;

&::after {
   content: '';
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 100%;
   border-radius: 1000px;
   background-color: #3326AE;
   animation: bar-up 200ms ease;
 }
}
}
}

.side-legend {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.bottom-legend {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
& > * { margin: 0 auto;}
}
}

.graph-wrapper.bar-chart-v { display: grid; grid-template-columns: auto 50px; }
.graph-wrapper.bar-chart-h .graph {
  flex-direction: column;

.bar-header { display: flex; justify-content: space-between; width: 100%; }
span { margin: 0; }

.bar {
  height: 8px;
  width: 100%;
  margin: 8px 0 1.5rem;

.bar-inner { height: 100%; margin: 0; &::after { animation: bar-right 200ms ease; }}
}
}

.bar-inner:hover {
  background-color: green;
}

.graph-wrapper.pie-chart {
  display: flex;
  justify-content: space-between;

.graph {
  width: 200px;
  height: 200px;
  margin: 0 auto;
// Square:
// width: 100%;
// height: 0;
// padding-top: 100%;
  background: conic-gradient($color-blue 51%, $color-magenta 0, $color-magenta 82%, $color-dark-lightest 0);
  border-radius: 50%;
}

.bottom-legend, .side-legend {
  margin-top: 1.5rem;

.legend-item {
  display: inline-block;
  margin: 0;
  margin-right: 2rem;

.swatch {
  display: inline-block;
  background-color: #fff;
  width: 2rem;
  height: 8px;
  border-radius: 1000px;
  margin-right: 12px;
}
}
}

.side-legend {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

.legend-item { margin-right: 0; }
}
}


// General styling
   *, *::before, *::after {
     margin: 0 auto;
     padding: 0;
     box-sizing: border-box;
   }

.abs-centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

body {
  background-color: $color-dark-primary;
  color: white;
  font: 17px "Rubik", sans-serif;
  overflow-x: hidden;
}

section {
  width: 100%;

& + section { margin-top: 0; }
}

h1, h2, h3, strong, bold { font-weight: 500; }

.px-title, .px-subtitle { text-align: center; }
.px-title {
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.px-subtitle {
  font-weight: 300;
  font-size: 1.25em;
}

.tag-wrapper {
  display: flex;
  justify-content: center;
}
.px-tag {
  display: inline-block;
  padding: 0.5em 1.5em;
  font-size: 15px;
  border-radius: 1000px;
  background: linear-gradient(120deg, $color-blue, $color-magenta );
}

a.link { color: inherit; transition: color 200ms ease; }
a.link:hover, a.link:focus { color: $color-blue }


@media only screen and (max-width: 500px) {
  section {
    width: 90%;
  }
  .grid {
    grid-template-columns: 1fr;
  }
}


/* Custom scrollbar */
::-webkit-scrollbar {
  background-color: $color-dark-primary;
  width: 30px;
}

/* Track */
::-webkit-scrollbar-track {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-dark-lightest;
  border-radius: 30px;
  border: 8px solid $color-dark-primary;
  transition: background 200ms ease;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $color-dark-light;
}
.mat-mdc-button-base {
  margin: 4px;
}
.chart {
  width: 600px;
  height: 300px;
  display: block;
}

.numbers {
  color: #fff;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 100%;
  display: inline-block;
  float: left;
}

.numbers li {
  list-style: none;
  height: 150px;
  position: relative;
  bottom: 145px;
}

.numbers span {
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  right: 10px;
}

.bars {
  color: #c0c3dc;
  font-size: 12px;
  font-weight: 600;
  /*background-image: url("Rectangle\ 56.svg");*/
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 500px;
  height: 300px;
  box-shadow: 0 0 10px 0 #fff;
  border-radius: 5px;
}

.bars li {
  display: table-cell;
  width: 100px;
  height: 300px;
  position: relative;
}

.bars span {
  width: 100%;
  position: absolute;
  bottom: -30px;
  text-align: center;
}

.bars .bar {
  /*background-image: url("Group\ 295.svg");*/
  display: block;
  background-repeat: no-repeat;
  width: 50px;
  position: absolute;
  bottom: 0;
  margin-left: 25px;
  text-align: center;
  box-shadow: 0 0 10px 0 rgba(23, 192, 235, 0.5);
  transition: 0.5s;
  transition-property: background, box-shadow;
  border-radius: 10%;
  width: 14px;
  height: 83.89px;
}

.bars .bar:hover {
}

.bars .bar:before {
  color: #fff;
  content: attr(data-percentage) "%";
  position: relative;
  bottom: 20px;
}
.upgrade-text{
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 500;
  font-size: 15.1976px;
  line-height: 19px;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;

  color: #FFFFFF;

}
.upgrade-pr{
//background-image: url("assets/cover 2@1920x-8 1 (3).png");
  width: 190px;
  height: 100px;
  top:5px;
  background-color: #503E9D;
}
.update-btn{
  width: 100px;
  height: 35px;
  margin-left: 20%;
  right: 20%;
  margin-top: 15%;
  text-align: center;
  justify-content: center;
  background: #FFFFFF;
  border-radius: 7.59879px;
}
.titres{
  width: 206px;
  height: 33px;
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 33px;
  /* identical to box height */


  color: #000000;

}
